<% include ./partials/header%>

<div class="jumbotron">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1>Welcome to QuickBlog</h1>
            <p>A fast and easy way to create your own blog</p>
            <%if(!currentUser){ %>
                <a href="/register" class="btn btn-success btn-lg">Sign Up</a>
                <a href="/login" class="btn btn-primary btn-lg">Log In</a>
            <% }else{ %>
                <a href="/<%=currentUser.username%>" class="btn btn-success btn-lg">Go to my Blog</a>
            <% } %>
        </div>
    </div>
</div>

<% include ./partials/footer%>