<% include ./partials/header%>

<div class="jumbotron">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1>Welcome to QuickBlog</h1>
            <p>A quick way to browse or create blogs</p>
            <a href="/blogs" class="btn btn-success btn-lg">View popular blogs</a>
        </div>
    </div>
</div>

<% include ./partials/footer%>